@defer (when listaWeapons.length>0){
  <div class="row">
    @for (weapon of listaWeapons; track weapon.id){
      <div class="col-md-4 my-2">
        <div class="card" routerLink="{{weapon.id}}">
          <div class="card-header bg-secondary">
            <div class="card-title text-light">
              <h3>{{weapon.name}}</h3>
            </div>
            <div class="card-subtitle text-secondary">
              {{weapon.type}}
            </div>
          </div>
              <img src="{{weapon.assets?.image}}"
                   alt="" class="card-img-top">
          </div>
      </div>

    }
  </div>
} @placeholder (minimum 500ms){
  <div class="row">
    <div class="col-12 my-2">
      <h3 class="text-primary text-center border
      shadow-sm p-2 rounded-1">
        <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </h3>
    </div>
  </div>
}
